    <footer class="main-footer">
        <div class="container-fluid">
            <div class="row bc-footer py-3">
                <div class="col-12 col-lg-4">
                    <article class="footer-centrado">
                        <i class="fas fa-credit-card fa-lg"></i>
                        <h3 class="pt-2 letra-footer">Pagá con tarjeta, efectivo o billeteras virtuales</h3>
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <article class="footer-centrado">
                        <i class="fas fa-shipping-fast fa-lg"></i>
                        <h3 class="pt-2 letra-footer">Envío gratis en la primera compra superando los $500</h3>
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <article class="footer-centrado">
                        <i class="fas fa-phone-volume fa-lg"></i>
                        <h3 class="pt-2 letra-footer">Tenes alguna duda? Contactanos en nuestras redes!</h3>
                    </article>
                </div>
            </div>
        </div>
    </footer>
        <div class="container-fluid">
            <h4 class="logo-footer bc-footer py-3">Shophone</h4>
        </div>
    </div>
