.logo{
  font-family: 'Roboto', sans-serif;
}

.ul{
  list-style: none;
}
.bc-navbar{
  background-color: #5A2D82;
  color: white;
  margin-bottom: 0px;
}

.form-control{
  width: 60% !important;
}

.ingreso{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.letra{
  color: white !important;
  font-size: larger;
}

.btn-buscar{
  background-color: white;
  border-color: white;
}


/* Producto */

.btnSeba{
  background-color: #5A2D82;
  border-color: #5A2D82;
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin: 3%; 
}

.btn-secondary{
  background-color: grey;
  border-color:grey;
  color: white;
}

p{
  font-size: 15px;

  padding: 0px 10px;
}

#col-izq{
  height: 80%;
  width: 80%;
}

#botones{
  display: flex;
  flex-wrap: wrap;
}


/* Fin */





.bc-footer{
  background-color: #5A2D82;
  color: white;
  margin: 0px;
}

.footer-centrado{
  text-align: center;
}

.logo-footer{
  font-family: 'Michroma', sans-serif;
  padding-left: 15px;
}






   
   

  
